<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="AIMLab. - Artificial Intelligence in Medicine Laboratory Website">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>AIMLab - {{ page.title }}</title>
    
    <!-- Favicon -->
    <link rel="icon" href="{{site.baseurl}}/assets/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/uza.css">

    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    {% include header.html %}

    <!-- ***** Breadcrumb Area Start ***** -->
    {% if page.hide_title != true %}
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">{{ page.title }}</h2>
                        <!-- <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Contact</li>
                                </ol>
                            </nav> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="{{site.baseurl}}/assets/img/core-img/curve-5.png" alt="">
        </div>
    </div>
    {% endif %}

    <!-- ***** Breadcrumb Area End ***** -->

    {{ content }}


    {% include footer.html %}


    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <!-- <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script> -->

    <!-- Popper js -->
    <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="{{site.baseurl}}/assets/js/uza.bundle.js"></script>
    <!-- Active js -->
    <script src="{{site.baseurl}}/assets/js/default-assets/active.js"></script>

    <script type="text/javascript">var submitted = false;</script>

</body>

</html>
